* {
  margin: 0;
  padding: 0;
  font-family: 'Helvetica Neue','Hiragino Sans GB','WenQuanYi Micro Hei','Microsoft Yahei',sans-serif;
}
.cover {
  position: fixed;
  width: 100%;
  top:0;
  left:0;
  background-color: black;
  filter: alpha(opacity=30);
  -moz-opacity: .3;
  -khtml-opacity: .3;
  z-index: 100;
  opacity: .3;
}
.head {
  position: fixed;
  width: 100%;
  min-width: 1440px;
  height: 40px;
  z-index: 101;
  .bg {
    width: 100%;
    height: 40px;
    background-color: black;
    filter: alpha(opacity=40);
    -moz-opacity: .4;
    -khtml-opacity: .4;
    z-index: 100;
    opacity: .4;
  }
  .logo {
    position: absolute;
    top: 0;
    left: 30px;
    width: 196px;
    height: 40px;
    z-index: 101;
    background: url("../image/1.png") no-repeat center;
    background-size: contain;
  }
  .navBar {
    position: absolute;
    top: 0;
    right: 20px;
    z-index: 101;
    ul {
      li {
        font-size: 16px;
        list-style: none;
        width: 90px;
        height: 40px;
        line-height: 40px;
        text-align: center;
        float: left;
        margin: 0 20px 0 0;
        color: white;
        cursor: pointer;
        &:hover {
          background-color: black;
        }
      }
    }
  }
}
.swiper-container {
  width: 100%;
  height: 1200px;
  .swiper-slide {
    position: relative;
    overflow: hidden;
  }
  .btn {
    position: absolute;
    top:400px;
    left: 100px;
    z-index: 101;
    a {
      text-decoration: none;
      display: inline-block;
      border: 1px solid #fff;
      border-radius: 4px;
      font-weight: 400;
      color: white;
      padding: 8px 15px;
      font-size: 18px;
      margin-right: 10px;
      &:hover {
        background-color: white;
        color: #03A9F4;
      }
      &.blue {
        background-color: #03A9F4;
        border: 1px solid #03A9F4;
        &:hover {
          color: #fff;
        }
      }
    }

  }
  .title {
    position: absolute;
    top: 304px;
    font-size: 44px;
    font-weight: 300;
    width: 1000px;
    z-index: 101;
    left: 100px;
    color: #ffffff;
  }
  .nth1 {
    background: url("../image/colorRun.jpg") 50% center;
    background-size: cover;
  }
  .nth2 {
    background: url("../image/floor.jpg") 50% center;
    background-size: cover;
  }
  .nth3 {
    background: url("../image/floor2.jpg") 50% center;
    background-size: cover;
  }
  .nth4 {
    background: url("../image/light.jpg") 50% center;
    background-size: cover;
  }
  .nth5 {
    background: url("../image/pen.jpg") 50% center;
    background-size: cover;
  }
  .nth6 {
    background: url("../image/phone.jpg") 50% center;
    background-size: cover;
  }
  .self .swiper-pagination-bullet {
    display: inline-block;
    margin: 0 5px;
    width: 40px;
    height: 5px;
    font-size: 3px;
    background: #fff;
    cursor: pointer;
    border-radius: 0;
    opacity: 1;
  }
  .self .swiper-pagination-bullet.swiper-pagination-bullet-active {
    background: #00dfb9;
  }
}
.wrap_product,.wrap_market,.wrap_partner ,.wrap_market .container{
  width: 1400px;
  margin: 30px auto;
}
.wrap_product .product_title,.wrap_partner .partner_title ,.wrap_market .market_title{
  text-align: center;
  font-size: 20px;
  color: #9b9b9b;
}
.wrap_product .product_title span,.wrap_market .market_title span, .wrap_partner .partner_title span{
  padding: 5px;
  border-bottom: 2px solid #d8d8d8;
}
.wrap_product .product_content, .wrap_market .market_content,.wrap_partner .content{
  margin: 0 auto;
}
.wrap_product .product_content .product_item,.wrap_market .market_content .product_item{
  text-align: center;
  display: inline-table;
  margin-top: 50px;
  margin-right: 80px;
  margin-bottom: 50px;
  width: 300px;
  height: 350px;
}
.wrap_product .product_content .product_item .title,.wrap_market .market_content .product_item .title{
  margin-top: 20px;
  font-size: 20px;
}
.wrap_product .product_content .product_item .s_title{
  font-family: xiyuanti;
  margin-top: 10px;
}
.wrap_product .product_content .product_item.last,.wrap_market .market_content .product_item.last {
  margin-right: 0;
}
.wrap_product .product_content .product_item .describe,.wrap_market .market_content .product_item .describe {
  width: 350px;
  text-align: left;
  margin-left: 55px;
}
.wrap_product .product_content .product_item img{
  width: 150px;
  height: 150px;
}
.wrap_market .market_content .product_item img {
  max-width: 210px;
  max-height: 250px;
}

.wrap_product .product_content .product_item ul, .wrap_market .market_content .product_item ul{
  color: #9b9b9b;
  padding-top: 30px;
  font-size: 17px;
  margin-left: 45px;
  width: 325px;
}
.wrap_product .product_content .product_item ul li, .wrap_market .market_content .product_item ul li{
  margin-top: 10px;
}
.wrap_market{
  width: 100%;
  background-color: #F5FFFA;
  padding-top: 20px;
}
.wrap_partner {
  margin-top: 20px;
  height: 400px;
}
.wrap_partner .content {
  margin: 20px auto 0;
  height: 120px;
  width: 1000px;
}
.wrap_partner .content ul li {
  list-style: none;
  float: left;
  width: 150px;
  height: 120px;
  margin-right: 60px;
}
.wrap_partner .content ul li div {
  width: 150px;
  height: 110px;
  display: table-cell;
  vertical-align: middle;
}
.wrap_partner .content ul li:last-child {
  margin-right: 0;
}
.wrap_partner .content ul {
  display: table;
}
.wrap_partner img {
  max-width: 150px;
}
.clear {
  clear: both;
  display: block;
  content: "";
  visibility: hidden;
}
footer {
  width: 100%;
  background-color: #333333;
}
footer .foot {
  width: 1400px;
  height: 230px;
  margin: 0 auto;
}
footer .foot .img{
  float: left;
  height: 230px;
  width: 300px;
  border-right: 1px dashed #8d8d8d;
}
footer .foot .contact {
  float: left;
  height: 230px;
  width: 700px;
  border-right: 1px dashed #8d8d8d;
}
footer .foot .follow{
  float: left;
  height: 230px;
  width: 350px;
}
footer .foot .img img {
  max-width: 150px;
  height: 100px;
  margin-left: 100px;
  margin-top: 40px;
}
footer .foot .contact img {
  width: 30px;
  height: 30px;
}
footer .foot .follow img{
  margin-top: 10px;
  width: 80px;
}
footer .foot .follow .wechat img ,footer .foot .follow .sina img{
  width: 50px;
  height: 50px;
}
footer .foot .contact .title {
  color: #d8d8d8;
  font-size: 20px;
  margin-top: 20px;
  margin-bottom: 10px;
}
footer .foot .follow .title {
  color: #d8d8d8;
  font-size: 20px;
  text-align: left;
  margin-top: 20px;
  margin-left: 116px;
}
footer .foot .contact li span  {
  color: #d8d8d8;
  font-size: 16px;
  vertical-align: super;
}
footer .foot .contact li {
  width: 375px;
  text-align: left;
}
footer .foot .follow ul li{
  float: left;
  text-align: center;
  margin-left: 60px;
}
footer .address {
  width: 100%;
  height: 30px;
  font-size: 14px;
  background-color: black;
  color: #f5f5f5;
  line-height: 30px;
  text-align: center;
}
.modal-cover {
  position: fixed;
  display: none;
  z-index: 120;
  top: 0;
  left: 0;
  width:100%;
  height: 100%;
  background-color: black;
  opacity: .7;
}
.modal-wrapper {
  position: fixed;
  top: 50%;
  left: 50%;
  margin-left: -500px;
  margin-top: -325px;
  width:1000px;
  height: 570px;
  -webkit-transition: all .2s linear;
  -o-transition: all .2s linear;
  transition: all .2s linear;
  z-index: 0;
  img{
    width:100%;
  }
  .modal-close{
    position: absolute;
    display: inline-block;
    font-weight: 400;
    font-variant: normal;
    -webkit-font-smoothing: antialiased;
    z-index: 0;
    top: 0;
    right: -48px;
    width: 48px;
    height: 48px;
    text-align: center;
    line-height: 40px;
    background: #03A9F4;
    color: #FFF;
    font-size: 48px;
    border-radius: 0;
    opacity: .85;
    filter: alpha(opacity=85);
    float: right!important;
    font-style: normal;
    cursor: pointer;
    text-decoration: none;
    box-shadow: 0 5px 11px 0 rgba(0,0,0,.18),0 4px 15px 0 rgba(0,0,0,.15);
    &:before {
      box-sizing: border-box;
      content: "×";
    }
  }
  &.fade {
    opacity: 0;
    filter: alpha(opacity=0);
  }
  &.in {
    z-index: 120;
    margin-top: -285px;
    opacity: 1;
    filter: alpha(opacity=100);
  }
}
